.container {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
  position: absolute;
  border-width: 3px;
  border-color: hsl(var(--primary) / 0.5);
  animation: pulse 2s infinite;
}

.circle:nth-child(1) {
  width: 100px;
  height: 100px;
  animation-delay: 0s;
}

.circle:nth-child(2) {
  width: 150px;
  height: 150px;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  width: 200px;
  height: 200px;
  animation-delay: 0.4s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
